@inherits LayoutComponentBase
@inject IIconService IconService

<div class="relative flex min-h-svh flex-col bg-background">
    <div class="border-grid flex flex-1 flex-col">
        <Navbar />
        <main class="flex flex-1 flex-col">
            <div class="container-wrapper">
                <div class="container flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10">
                    <Sidebar>
                        <SidebarCategory Title="Introduction">
                            <SidebarNavLink To="/introduction">Overview</SidebarNavLink>
                            <SidebarNavLink To="/features">Features</SidebarNavLink>
                            <SidebarNavLink To="/comparison">Comparison with react-icons</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Installation">
                            <SidebarNavLink To="/nuget">Via NuGet</SidebarNavLink>
                            <SidebarNavLink To="/setup">Project Setup</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Basic Usage">
                            <SidebarNavLink To="/namespaces">Importing Namespaces</SidebarNavLink>
                            <SidebarNavLink To="/syntax">Basic Syntax</SidebarNavLink>
                            <SidebarNavLink To="/razor-usage">Using in Razor Components</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Dynamic Icon Usage">
                            <SidebarNavLink To="/dynamic-overview" IsNew="true">Overview</SidebarNavLink>
                            <SidebarNavLink To="/when-to-use" IsNew="true">When to Use</SidebarNavLink>
                            <SidebarNavLink To="/dynamic-parameters" IsNew="true">Parameters</SidebarNavLink>
                            <SidebarNavLink To="/dynamic-examples" IsNew="true">Examples</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Icon Collections">
                            @foreach (var manifest in Manifests)
                            {
                                <SidebarNavLink To="@(string.Concat('/', "icons", '/', manifest.Id))">@manifest.ProjectName</SidebarNavLink>
                            }
                        </SidebarCategory>
                        <SidebarCategory Title="Parameters & Customization">
                            <SidebarNavLink To="/common-params">Common Parameters</SidebarNavLink>
                            <SidebarNavLink To="/accessibility">Title & Accessibility</SidebarNavLink>
                            <SidebarNavLink To="/additional-attrs">Additional Attributes</SidebarNavLink>
                            <SidebarNavLink To="/best-practices">Best Practices</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Examples">
                            <SidebarNavLink To="/resizing">Resizing Icons</SidebarNavLink>
                            <SidebarNavLink To="/colors">Changing Colors</SidebarNavLink>
                            <SidebarNavLink To="/animation">Animating Icons</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="API Reference">
                            <SidebarNavLink To="/component-structure">Component Structure</SidebarNavLink>
                            <SidebarNavLink To="/param-list">Parameter List</SidebarNavLink>
                            <SidebarNavLink To="/return-types">Return Types</SidebarNavLink>
                            <SidebarNavLink To="/advanced">Advanced Features</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Contributing">
                            <SidebarNavLink To="/contrib-guide">Contribution Guide</SidebarNavLink>
                            <SidebarNavLink To="/adding-icons">Adding New Icon Collections</SidebarNavLink>
                            <SidebarNavLink To="/submitting-fixes">Submitting Fixes</SidebarNavLink>
                        </SidebarCategory>
                    </Sidebar>
                    <main class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
                        @Body
                    </main>
                </div>
            </div>
        </main>
        <Footer />
    </div>
</div>

@code
{
    private IEnumerable<IconManifestItem> Manifests { get; set; } = [];

    protected override void OnInitialized()
    {
        Manifests = IconService.GetManifests();
    }
}
