@inherits LayoutComponentBase
@inject IIconService IconService

<div class="relative flex min-h-svh flex-col bg-background">
    <div class="border-grid flex flex-1 flex-col">
        <Navbar />
        <main class="flex flex-1 flex-col">
            <div class="container-wrapper">
                <div class="container flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10">
                    <Sidebar>
                        <SidebarCategory Title="Introduction">
                            <SidebarNavLink To="/docs/introduction">Overview</SidebarNavLink>
                            <SidebarNavLink To="/docs/features">Features</SidebarNavLink>
                            <SidebarNavLink To="/docs/comparison">Comparison with react-icons</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Installation">
                            <SidebarNavLink To="/docs/installation/nuget">Via NuGet</SidebarNavLink>
                            <SidebarNavLink To="/docs/installation/setup">Project Setup</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Basic Usage">
                            <SidebarNavLink To="/docs/basic-usage/namespaces">Importing Namespaces</SidebarNavLink>
                            <SidebarNavLink To="/docs/basic-usage/syntax">Basic Syntax</SidebarNavLink>
                            <SidebarNavLink To="/docs/basic-usage/razor-usage">Using in Razor Components</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Dynamic Icon Usage">
                            <SidebarNavLink To="/docs/dynamic-icon-usage/overview" IsNew="true">Overview</SidebarNavLink>
                            <SidebarNavLink To="/docs/dynamic-icon-usage/when-to-use" IsNew="true">When to Use</SidebarNavLink>
                            <SidebarNavLink To="/docs/dynamic-icon-usage/parameters" IsNew="true">Parameters</SidebarNavLink>
                            <SidebarNavLink To="/docs/dynamic-icon-usage/examples" IsNew="true">Examples</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Icon Collections">
                            @foreach (var manifest in Manifests)
                            {
                                <SidebarNavLink To="@(string.Concat('/', "icons", '/', manifest.Id))">@manifest.ProjectName</SidebarNavLink>
                            }
                        </SidebarCategory>
                        <SidebarCategory Title="Parameters & Customization">
                            <SidebarNavLink To="/docs/parameters-and-customization/common-params">Common Parameters</SidebarNavLink>
                            <SidebarNavLink To="/docs/parameters-and-customization/accessibility">Title & Accessibility</SidebarNavLink>
                            <SidebarNavLink To="/docs/parameters-and-customization/additional-attrs">Additional Attributes</SidebarNavLink>
                            <SidebarNavLink To="/docs/parameters-and-customization/best-practices">Best Practices</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Examples">
                            <SidebarNavLink To="/docs/exemples/resizing">Resizing Icons</SidebarNavLink>
                            <SidebarNavLink To="/docs/exemples/colors">Changing Colors</SidebarNavLink>
                            <SidebarNavLink To="/docs/exemples/animation">Animating Icons</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="API Reference">
                            <SidebarNavLink To="/docs/api-reference/component-structure">Component Structure</SidebarNavLink>
                            <SidebarNavLink To="/docs/api-reference/param-list">Parameter List</SidebarNavLink>
                            <SidebarNavLink To="/docs/api-reference/return-types">Return Types</SidebarNavLink>
                            <SidebarNavLink To="/docs/api-reference/advanced">Advanced Features</SidebarNavLink>
                        </SidebarCategory>
                        <SidebarCategory Title="Contributing">
                            <SidebarNavLink To="/docs/contributing/contrib-guide">Contribution Guide</SidebarNavLink>
                            <SidebarNavLink To="/docs/contributing/adding-icons">Adding New Icon Collections</SidebarNavLink>
                            <SidebarNavLink To="/docs/contributing/submitting-fixes">Submitting Fixes</SidebarNavLink>
                        </SidebarCategory>
                    </Sidebar>
                    <main class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
                        @Body
                    </main>
                </div>
            </div>
        </main>
        <Footer />
    </div>
</div>

@code
{
    private IEnumerable<IconManifestItem> Manifests { get; set; } = [];

    protected override void OnInitialized()
    {
        Manifests = IconService.GetManifests();
    }
}
