@inherits LayoutComponentBase

<div class="relative flex min-h-svh flex-col bg-background">
    <div class="border-grid flex flex-1 flex-col">
        <Navbar />
        <main class="flex flex-1 flex-col">

        </main>
    </div>
</div>

@Body
