<footer class="border-grid border-t py-6 md:py-0">
    <div class="container-wrapper">
        <div class="container py-4">
            <div class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
                Built by <a href="https://github.com/AerafalGit" target="_blank" class="font-medium underline underline-offset-4">Aerafal</a>. The source code is available on <a href="https://github.com/QosmosUI/QosmosUI.Icons" target="_blank" class="font-medium underline underline-offset-4">Github</a>.
            </div>
        </div>
    </div>
</footer>
